*.class
*.log
*.DS_Store
*.zip
*.history
*.iml
*.out
*.rdb
RUNNING_PID
.RUNNING_PID*


# sbt specific
dist/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
project/project/
tmp/
out/
logs/

# Scala-IDE specific
.scala_dependencies

#Eclipse
.cache
.project
.classpath
.settings/
.worksheet/

#IntelliJ
.idea/
.idea_modules/

#Vagrant
.vagrant/
data/

